<div id="annoeditor-sidebar"
  :class="[
    'annoeditor-sidebar',
    (standalone && 'annoeditor-sidebar-standalone'),
    'annoeditor-sidebar-' + (collapsed ? 'collapsed' : 'open'),
    ].filter(Boolean)"
  :bsvermajor="bootstrapOpts.version.major"
  :data-number-of-annotations="numberOfAnnotations"
  >
  <div class="annoeditor-sidebar-toggle" @click="toggle" v-if="standalone">
    <span class="fa fa-toggle-on" v-show="!collapsed"></span>
    <span class="fa fa-toggle-off" v-show="collapsed"></span>
    <span class="fa fa-comments" v-show="true || collapsed"></span>
    <span v-show="true || collapsed">{{ numberOfAnnotations }}</span>
  </div>
  <div class="annoeditor-sidebar-body"
    v-show="!standalone || !collapsed">
    <!-- <span class="fa fa-comments"></span> -->
    <!-- <span class="fa fa-toggle-off" v-show="collapsed" @click="toggle"></span> -->
    <!-- {{ l10n('Annotations') }} -->
    <div v-if="msgBoxes.length" class="msgboxes">
      <div v-for="box in msgBoxes"
        :class="[
          'msgbox',
        ].concat(box.cls).filter(Boolean)"
        >
        <div class="btn-group pull-right hidden-print" role="group">
          <bootstrap-button @click="discardMsgBox(box)"
            btn-class="close"
            aria-label="Close"
            icon-fa="close"
            />
        </div>
        <p class="msg">{{ box.msg }}</p>
      </div>
    </div>
    <anno-list ref="annoList">
      <div v-if="noAnnotsReason"
        slot="annot-list-empty"
        :class="[
          'msgbox',
          'no-annots',
          'reason-' + noAnnotsReason.code,
          ((noAnnotsReason.code === 'loadfail') && 'error'),
        ].filter(Boolean)"
        :data-reason="noAnnotsReason.code">
        <p class="msg">{{ noAnnotsReason.msg }}</p>
      </div>
    </anno-list>
  </div>
</div>
