.annoeditor-sidebar {
  &.annoeditor-sidebar-standalone {
    position: fixed;
    z-index: 1000;
    background: white;
    top: 0;
    right: 0;

    &.annoeditor-sidebar-open {
      width: 30vw;
      border-left:   1px solid black;
      border-bottom: 1px solid black;
      border-top:    1px solid black;
    }

    .annoeditor-sidebar-toggle {
      float: right;
      padding-left: 0.5em;
      width: 2em;
      color: #a0a0a0;
      background-color: #eaeaea;

      &:hover {
        color: black;
      }
    }
  }

  .annoeditor-sidebar-body {

    .msgbox {
      margin: 1em 0;
      background-color: linen;
      border: 1px solid wheat;

      & p {
        margin: 1ex;
      }

      &.error {
        background-color: mistyrose;
        border-color: tomato;
      }

      &.empty > .msg {
        margin-left: 20%;
        margin-right: 20%;
      }
    }

  }
}

.modal-backdrop {
    z-index: 999 !important;
}

