<span class="help-button" style="
  padding: 0;
  margin: 0;
  border: 0;
  ">
  <a :class="btnClasses"
    @click.stop="togglePopover()"
    style="vertical-align: top"
    >
    <span class="fa fa-info"></span>
  </a>
  <div :class="divClasses">
    <div class="panel-heading" @click.stop="dismiss">
      {{ title }}
      <button class="close">
        <span @click.stop="dismiss">&times;</span>
      </button>
      <button class="close">
        <a v-if="helpUrlManual"
          class="pull-right"
          :href="manualUrl"
          target="_blank">
          <span class="fa fa-link"></span>
        </a>
      </button>
    </div>
    <div class="panel-body">
      Loading ...
    </div>
  </div>
</span>
