.annoeditor-global-css {

.help-button {

  & > a {
    &, &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .default-help-icon {
    border-radius: 100%;
    border-width: 0;
    background-color: cornflowerblue;
    color: white;

    line-height: 1;
    width: 1.6em; height: 1.6em;
    vertical-align: middle;
  }

}


.annoeditor-bootstrap-tabs .help-button {

  padding: 0;
  margin: 0;
  margin-left: 0.5ex;
  vertical-align: top;
  cursor: help;

  border-color: transparent; /* required for BS3 */

}









}
