.nav > li > a.help-button {
  padding: 0px 10px 0 6px;
  border-radius: 100%;
  margin: auto;
  height: 20px;
  width: 10px;
}

.modal-dialog .help-button .panel {
  margin: -10px;
}
@media (min-width: 768px) {
  .modal-dialog .help-button .panel {
    margin: -30px;
  }
}

.help-button {
  > a {
    color: white !important;
    background-color: #31b0d5;
    border-color: #269abc;

    &:hover {
      cursor: help;
    }

    &> span {
      border-radius: 50%;
      line-height: 1;
    }
  }

  &> .panel {
    position: fixed;
    width: auto;
    left: 10vw;
    top: 10vw;
    min-height: 30vh;
    color: initial;
    background: white;
    z-index: 1000;
    text-align: left;

    &.slide-in {
      transition: 1s;
      top: 0;
    }

    &.slide-out {
      transition: 1s;
      top: -10vw;
      opacity: 0;
      visibility: hidden;
    }

    & > .panel-heading {
      & > span {
        cursor: pointer;
      }
    }
    & .panel-body {
      max-height: calc(100vh - 30px);
      overflow: auto;

      h2 {
        font-size: 20px;
      }
    }
  }

}
