<a class="btn btn-sm btn-default btn-outline-secondary
    help-button"
  :data-topic="topic"
  :href="helpUrl"
  target="_blank"
  @click.stop
  :title="title || l10n(topic)"
  >
  <span v-if="!buttonLabel" :class="[
      'label',
      'label-default',
      'badge',
      'btn-primary',
      'default-help-icon',
    ]">
    <span class="fa fa-info"></span>
  </span><!-- no buttonLabel -->
  <slot name="custom-icon" />
  <span v-if="buttonLabel" class="textlabel">{{ buttonLabel }}</span>
</a>
