.nav > li > a.help-button {
  padding: 0px 10px 0 6px;
  border-radius: 100%;
  margin: auto;
  height: 20px;
  width: 10px;
}

.modal-dialog .help-button .panel {
  margin: -10px;
}
@media (min-width: 768px) {
  .modal-dialog .help-button .panel {
    margin: -30px;
  }
}

.help-button {
  padding: 0;
  margin: 0;
  border-width: 0;

  & > a {
    vertical-align: top;
    cursor: help;

    &, &:hover {
      color: inherit;
      text-decoration: none;
    }

    & > .default-help-icon {
      color: white;
      background-color: cadetblue;
      border-radius: 50%;
      line-height: 1;
      width: 1.6em; height: 1.6em;
      vertical-align: middle;
    }
  }

  &> .panel {
    position: fixed;
    width: auto;
    left: 10vw;
    top: 10vw;
    min-height: 30vh;
    color: initial;
    background: white;
    z-index: 1000;
    text-align: left;

    &.slide-in {
      transition: 1s;
      top: 0;
    }

    &.slide-out {
      transition: 1s;
      top: -10vw;
      opacity: 0;
      visibility: hidden;
    }

    & > .panel-heading {
      & > span {
        cursor: pointer;
      }
    }
    & .panel-body {
      max-height: calc(100vh - 30px);
      overflow: auto;

      h2 {
        font-size: 20px;
      }
    }
  }

}
