<span class="help-button">
  <a class="help-button-trigger"
    @click.stop="togglePopover()"
    >
    <span v-if="!buttonLabel" :class="[
        'label',
        'label-default',
        'badge',
        'btn-primary',
        'default-help-icon',
      ]">
      <span class="fa fa-info"></span></span>
    <slot name="custom-icon" />
    <span v-if="buttonLabel" class="textlabel">{{ buttonLabel }}</span>
  </a>
  <div :class="[
      'card',
      'panel',
      'panel-primary',
      (visible ? 'slide-in' : 'slide-out'),
      'help-button-content-wrapper',
    ]">
    <div class="panel-heading" @click.stop="dismiss">
      {{ title }}
      <button class="close">
        <span @click.stop="dismiss">&times;</span>
      </button>
      <button class="close">
        <a v-if="helpUrlManual"
          class="pull-right"
          :href="manualUrl"
          target="_blank">
          <span class="fa fa-link"></span>
        </a>
      </button>
    </div>
    <div class="panel-body">
      … ⌛ …
    </div>
  </div>
</span>
