
<div v-bind:id="prefix+'_modal_edit'" class="modal fade" tabindex="-1" role="dialog">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h4 class="modal-title">
          {{text.edit_headline}}
        </h4>
      </div>

      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a v-bind:href="`#${prefix}_tab_metadata`" role="tab" area-controls="tab_metadata" data-toggle="tab">{{text.metadata}}
            </a>
          </li>
          <li role="presentation">
            <a v-bind:href="`#${prefix}_tab_zones`" role="tab" area-controls="tab_zones" data-toggle="tab">{{text.zones}}
            </a>
          </li>
        </ul>

        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" v-bind:id="prefix+'_tab_metadata'">
            <form action="" method="get">
              <input v-bind:id="prefix+'_field_id'"/>
              <input v-bind:id="prefix+'_field_parent'"/>

              <div class="form-group">
                <input v-bind:id="prefix+'_field_title'" v-bind:placeholder="text.annofield_title" class="form-control" type="text" required="true">
                <br/>
              </div>

              <div class="form-group">
                <textarea v-bind:id="prefix+'_field_text'"> </textarea>
              </div>
              <br/>

              <div class="form-group">
                <input v-bind:id="prefix+'_field_link'" v-bind:placeholder="text.annofield_link" class="form-control" type="text"/>
                <input v-bind:id="prefix+'_field_linktitle'" v-bind:placeholder="text.annofield_linktitle" class="form-control" type="text"/>
                <br/>
              </div>
              <button v-if="zoneedit" v-bind:id="prefix+'_but_zoneedit'" type="button">
                <img v-bind:src="annoservicehosturl+'/img/polygon.png'" alt="polygon"> {{text.edit_zones}}
              </button>
              <input v-if="zoneedit" v-bind:id="prefix+'_field_polygon'" class="form-control"/>

              <div v-bind:class="prefix+'license'">{{text.license}}
              </div>

              <div style="clear: both;">
              </div>
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" v-bind:id="`${prefix}_tab_zones`">
            <!--             -->
            <!-- zone-editor -->
            <!--             -->
            <zone-editor> </zone-editor>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{text.cancel}}</button>
        <button type="button" v-bind:class="prefix+'savebut btn btn-primary'">{{text.save}}</button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">

  <div v-bind:id="prefix+'_annotations'">
    <span class="fa fa-comments" style="color: #606060;"></span> {{text.headline}}

    <div class="btn-group pull-right hidden-print" role="group">
      <button v-if="options.writetoken" v-bind:class="'btn btn-default btn-xs '+prefix+'new'">{{text.new}}
      </button>
      <a v-if="options.login && !options.readtoken" v-bind:href="options.login" class="btn btn-default btn-xs">{{text.login}}
      </a>
      <button v-bind:class="'btn btn-default btn-xs '+prefix+'openall'">{{text.open_all}}
      </button>
      <button v-bind:class="'btn btn-default btn-xs hidden '+prefix+'closeall'">{{text.close_all}}
      </button>
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{text.sort}}
        <span class="caret">
        </span>
      </button>
      <ul class="dropdown-menu small" role="menu">
        <li>
          <a v-bind:class="'small '+prefix+'sortdate'">{{text.sortdate}}
            <span v-if="options.sort == 'date'" class="glyphicon glyphicon-ok">
            </span>
          </a>
        </li>
        <li>
          <a v-bind:class="'small '+prefix+'sortdatereverse'">{{text.sortdatereverse}}
            <span v-if="options.sort == 'datereverse'" class="glyphicon glyphicon-ok">
            </span>
          </a>
        </li>
        <li>
          <a v-bind:class="'small '+prefix+'sorttitle'">{{text.sorttitle}}
            <span v-if="options.sort == 'title'" class="glyphicon glyphicon-ok">
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div style="clear: both;">
    </div>

    <div v-bind:class="'hidden-print '+prefix+'showrefopt'">

      <div class="dropdown pull-right">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" v-bind:id="prefix+'dropdownMenuS'" data-toggle="dropdown" aria-expanded="false">{{text.showref}}:
          <span v-bind:class="prefix+'showrefstatus_0 '+prefix+'showrefstatus'">{{text.showrefdefault}}</span>
          <span v-bind:class="prefix+'showrefstatus_1 '+prefix+'showrefstatus'">{{text.showrefalways}}</span>
          <span v-bind:class="prefix+'showrefstatus_2 '+prefix+'showrefstatus'">{{text.showrefnever}}</span>
          <span class="caret">
          </span>
        </button>
        <ul class="dropdown-menu small" role="menu" v-bind:aria-labelledby="prefix+'dropdownMenuS'">
          <li>
            <a class="small" data-anno-showref="0">{{text.showrefdefault}}&nbsp;
              <span v-bind:class="'glyphicon glyphicon-ok '+prefix+'showrefstatus_0 '+prefix+'showrefstatus'" aria-hidden="true"></span>
            </a>
          </li>
          <li>
            <a class="small" data-anno-showref="1">{{text.showrefalways}}&nbsp;
              <span v-bind:class="'glyphicon glyphicon-ok '+prefix+'showrefstatus_1 '+prefix+'showrefstatus'" aria-hidden="true"></span>
            </a>
          </li>
          <li>
            <a class="small" data-anno-showref="2">{{text.showrefnever}}&nbsp;
              <span v-bind:class="'glyphicon glyphicon-ok '+prefix+'showrefstatus_2 '+prefix+'showrefstatus'" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
      </div>

      <div style="clear: both;">
      </div>
    </div>

    <div class="panel-group" role="tablist" aria-multiselectable="true">

      <div v-for="item in annotations_sorted" v-bind:id="item.id" v-bind:class="prefix+'item panel panel-default'">

        <div class="panel-heading" data-toggle="collapse" v-bind:href="'#coll_'+item.id" aria-expanded="true" v-bind:aria-controls="item.id" v-bind:id="prefix+'head_'+item.id" role="tab">
          <h4 class="panel-title">
            <a role="button">
              <span class="glyphicon glyphicon-chevron-right">
              </span> {{item.title}}
            </a>
          </h4>
        </div>

        <div v-bind:id="'coll_'+item.id" class="panel-collapse collapse" role="tabpanel" v-bind:aria-labbelledby="prefix+'head_'+item.id">

          <div class="panel-body">

            <div v-bind:id="'old_version_'+item.id" v-bind:class="'well '+prefix+'_old_version'">
            </div>

            <div class="media" style="height: auto;">

              <div class="media-body">

                <div v-if="item.user_name">
                  <button class="btn btn-xs">
                    <span class="glyphicon glyphicon-user"></span>
                    {{item.user_name}} {{item.jcr_modified_display}}
                  </button>
                  <button v-bind:class="'btn btn-xs '+prefix+'purlbut'" data-toggle="popover" v-bind:data-content="options.purl+'/'+item.clean_svname">
                    <span class="glyphicon glyphicon-link">
                    </span>
                  </button>
                </div>
                <br>

                <div v-html="item.text">
                </div>
                <p v-if="item.link">
                  <a v-bind:href="item.link" target="_blank">
                    <span v-if="item.sourcedescription">{{item.sourcedescription}}
                    </span>
                    <span v-else>{{item.link}}
                    </span>
                  </a>
                </p>

                <div v-if="!options.no_oai" v-bind:class="prefix+'iiiflink'">
                  <template v-if="item.iiif_url">
                    <button class="btn-link" onclick="anno_toggle_iiif($(this));">
                      <span class="fa fa-caret-right">
                      </span> Bildausschnitt (IIIF-Image)
                    </button>

                    <div>
                      <a v-bind:href="item.iiif_url" target="_blank">{{item.iiif_url}}
                      </a>
                    </div>
                  </template>
                </div>
              </div>
            </div>
            <!-- navigation -->

            <div class="btn-toolbar pull-right" role="toolbar" style="margin-top: 10px;">

              <div class="btn-group btn-group-xs pull-right" role="group">
                <button v-if="item.editable" v-bind:class="'btn btn-default '+prefix+'editbut'">
                  <i class="fa fa-pencil">
                  </i> &nbsp;{{text.edit}}
                </button>
                <button v-if="item.commentable" v-bind:class="'btn btn-default '+prefix+'commentbut'">
                  <i class="fa fa-reply">
                  </i> &nbsp;{{text.comment}}
                </button>
                <template v-if="item.versioned">
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{text.previous}}
                    <span class="caret">
                    </span>
                  </button>
                  <ul v-bind:class="'dropdown-menu pull-right '+prefix+'versions'">
                    <li v-for="version in item.versions">
                      <a class="small" v-bind:data-versionid="version.idshort">
                        <span class="glyphicon glyphicon-time">
                        </span> {{version.created_display}}
                      </a>
                    </li>
                  </ul>
                </template>
              </div>
            </div>

            <div style="clear: both; margin-bottom: 2px;">
            </div>
            <template v-if="item.hasChildren">

              <div>

                <div v-bind:class="prefix+'separator'">
                  <span v-if="item.hasComment">{{text.comments}}
                  </span>
                </div>
              </div>
              <!--               -->
              <!-- anno-comments -->
              <!--               -->
              <anno-comments v-bind:anno="item" v-bind:options="options" v-bind:prefix="prefix"></anno-comments>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
