{
  "presets": [
    ["@babel/preset-env", { "modules": false }]
  ],
  "sourceType": "unambiguous",
  "plugins": ["@babel/plugin-transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
