.annoeditor-list {

  .anno-list-buttonbar-top {

    margin-top: 5px;

    .panel-group {
      margin-bottom: 0;
      & > .panel {
        margin-top: 0 !important;
      }
    }

    .sort-menu {
      & > li {
        display: block;
        text-align: left;
      }
    }

  }

  .annot-list {
    margin: 1em 0;
  }

}
