.annoeditor-list {

  margin-bottom: 10em;

  .anno-list-buttonbar-top {
    position: relative;
    margin-top: 5px;
    z-index: 300;
    &.pull-left { z-index: 310; }

    .panel-group {
      margin-bottom: 0;
      & > .panel {
        margin-top: 0 !important;
      }
    }

    .sort-menu {
      & > li {
        display: block;
        text-align: left;
      }
    }

  }

  .annot-list {
    margin: 1em 0;
  }

}
