<div class="annoeditor-list">
  <div class="btn-group pull-left hidden-print" role="group">
    <a v-if="isLoggedIn && enableLogoutButton"
      class="btn btn-xs btn-warning"
      @click.stop="logout"
      :href="tokenDecoded.sub"
      >
      {{ l10n('logout') }}
    </a>

    <a v-if="!isLoggedIn && loginEndpoint"
      class="btn btn-xs btn-default"
      :href="loginEndpoint"
      >
      {{ l10n('login') }}
    </a>

    <help-button v-if="!isLoggedIn"
      :help-url-template="l10n('help.url.template')"
      :button-label="l10n('register')"
      :title="l10n('register')"
      topic="popover-not-registered"
      />

    <button v-if="$auth('create', targetSource)"
      class="btn btn-xs btn-success"
      @click="create"
      >
      {{ l10n('new') }}
    </button>

    <a class="btn btn-xs btn-danger"
      :href="requestEndpoint"
      v-if="isLoggedIn && ! $auth('create', targetSource)"
      >
      {{ l10n('not_enough_rights') }}
    </a>

  <help-button v-show="isLoggedIn && ! $auth('create', targetSource)"
    :help-url-template="l10n('help.url.template')"
    :title="l10n('popover-not-authorized')"
    topic="popover-not-authorized"
    />

  <help-button v-show="isLoggedIn && $auth('create', targetSource)"
    :help-url-template="l10n('help.url.template')"
    :title="l10n('popover-logged-in')"
    topic="popover-logged-in"
    />

  </div>

  <div class="btn-group btn-group-vertical pull-right hidden-print" role="group">

    <button v-if="collapsed && numberOfAnnotations > 0" class="btn btn-default btn-xs" @click="collapseAll('show')">
      <span class="fa fa-plus"></span>&nbsp;{{ l10n('open_all') }}
    </button>

    <button v-if="! collapsed && numberOfAnnotations > 0" class="btn btn-default btn-xs" @click="collapseAll('hide')">
      <span class="fa fa-minus"></span>&nbsp;{{ l10n('close_all') }}
    </button>

    <button v-if="numberOfAnnotations > 0" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" @click="collapseAll('hide')">
      <span class="fa fa-sort"></span>&nbsp;{{ l10n('sort') }} <span class="caret"></span>
    </button>

    <!-- {{ sortedBy }} -->
    <component :is="bootstrapOpts.tags.dropdownMenu"
      role="menu" class="sort-criterion-dropdown-menu
        dropdown-menu
        dropdown-menu-small
        dropdown-menu-right
        small
        sort-menu
        ">
      <template v-for="sortProp in [
        'created',
        'modified',
        'title',
        'creator',
      ]">
      <component :is="bootstrapOpts.tags.dropdownMenuItem"
        v-for="sortOrder in ['az', 'za']"
        :key="`sort_${sortProp}_${sortOrder}`"
        :class="[
          'criterion',
          'btn',
          'btn-sm',
          'text-nowrap',
          ((sortedBy === `${sortProp}_${sortOrder}`) && 'btn-primary'),
          'sort-prop-' + sortProp,
          'sort-order-' + sortOrder,
        ].filter(Boolean)"
        @click="sort(`${sortProp}_${sortOrder}`)"
        :data-sort-prop="sortProp"
        :data-sort-order="sortOrder"
        >{{ l10n(`sort_prop_${sortProp}`) }}
          <span :title="l10n(`sort_order_word_${sortOrder}`)"
            >{{ l10n(`sort_order_symbol_${sortOrder}`) }}</span>
          </component><!-- sortOrder -->
      </template><!-- sortProp -->
    </component><!-- dropdownMenu -->

  </div>

    <div style="clear: both;"></div>


    <div style="text-align: left; margin: 5px; margin-top: 0;">

      <div class="panel-group">
        <anno-viewer v-for="annotation in list" :key="annotation.id"
          :annotation="annotation"
          :purl-template="purlTemplate"
          :purl-id="purlId"
          :as-reply=false
          :image-width="$store.state.targetImageWidth"
          :image-height="$store.state.targetImageHeight"
          :thumb-stroke-color="$store.state.thumbStrokeColor"
          :thumb-fill-color="$store.state.thumbStrokeColor"
          :iiif-url-template="$store.state.iiifUrlTemplate"
          >
        </anno-viewer>
      </div>
    </div>

    <anno-editor-modal ref='modal-editor' :editor-id="`${prefix}-modal-editor`" />
</div>
