<div :class="[
  'annoeditor-list',
  `access-${isLoggedIn ? 'logged-in' : 'guest'}`,
  ]"
  :data-number-of-annots="list.length"
  >
  <div class="btn-group
    anno-list-buttonbar-top
    pull-left
    hidden-print
    " role="group">
    <template v-if="isLoggedIn">
      <a v-if="logoutButtonVisible"
        @click="logoutButtonClicked"
        class="btn btn-sm btn-warning"
        :href="logoutButtonUrl"
        >
        {{ l10n('logout') }}
      </a>
    </template><!-- logged in -->
    <template v-else><!-- guest access -->
      <a v-if="$store.state.loginFormUrl"
        class="btn btn-sm btn-default btn-outline-secondary
          login-button"
        :href="$store.state.loginFormUrl"
        >
        {{ l10n('login') }}
      </a>
      <a v-if="$store.state.loginRegistrationFormUrl"
        class="btn btn-sm btn-default btn-outline-secondary
          login-button"
        :href="$store.state.loginRegistrationFormUrl"
        >
        {{ l10n('register') }}
      </a>
      <help-button topic="popover-not-logged-in"
        v-if="$store.state.loginFormUrl
          || $store.state.loginRegistrationFormUrl
          "
        />
    </template><!-- guest access -->

    <template v-if="$store.state.offerCreateNewAnnotationButton">
      <template v-if="$auth('create', targetSource)">
        <button class="btn btn-sm
          btn-success
          create-new-annotation-button"
          @click="create"
          >
          {{ l10n('compose_new_annot') }}
        </button>
        <template v-if="isLoggedIn">
          <!-- authorized AND logged in -->
          <help-button topic="popover-logged-in" />
        </template><!-- logged in but no access -->
      </template><!-- authorized -->
      <template v-else><!-- not authorized -->

        <bootstrap-button ref="btnAclRequestCreate"
          v-if="$store.state.permissionsRequestFormUrl
            && ($store.state.permissionsRequestAllowGuest || isLoggedIn)"
          btn-class="outline-secondary
            create-new-annotation-button
            decoy
            acl-request-create
          "
          balloon-color="body"
          >
          {{ l10n('compose_new_annot') }}
          <div slot="balloon">
            <p>{{ l10n('not_authorized') }}</p>
            <a :href="$store.state.permissionsRequestFormUrl"
              target="_blank"
              class="btn btn-sm
                btn-default
                btn-outline-success"
            >{{ l10n('request_permission_now') }}</a>
          </div>
        </bootstrap-button>
        <template v-if="isLoggedIn">
          <!-- not authorized even though we're logged in -->
          <help-button topic="popover-not-authorized" />
        </template><!-- logged in but no access -->
      </template><!-- not authorized -->
    </template><!-- offerCreateNewAnnotationButton -->

  </div><!-- .anno-list-buttonbar-top.pull-left -->

  <div class="btn-group
    anno-list-buttonbar-top
    pull-right
    hidden-print
    " role="group">

    <button class="btn btn-sm
      pull-right
      debug-feature
      debug-button-force-compose
      "
      @click="create"
      >⚙
    </button>

    <bootstrap-button ref="btnCollapseAll"
      @click="collapseAll('toggle')"
      v-if="numberOfAnnotations"
      btn-class="outline-secondary"
      :data-state="collapsed ? 'hide' : 'show'"
      :icon-fa="collapsed ? 'plus' : 'minus'"
      >{{ collapsed ? l10n('open_all') : l10n('close_all') }}
    </bootstrap-button>

    <button v-if="numberOfAnnotations > 0" class="btn btn-default btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" @click="collapseAll('hide')">
      <span class="fa fa-sort"></span>&nbsp;{{ l10n('sort') }} <span class="caret"></span>
    </button>

    <!-- {{ sortedBy }} -->
    <component :is="bootstrapOpts.tags.dropdownMenu"
      role="menu" class="sort-criterion-dropdown-menu
        dropdown-menu
        dropdown-menu-small
        dropdown-menu-right
        small
        sort-menu
        ">
      <template v-for="sortProp in [
        'created',
        'modified',
        'title',
        'creator',
      ]">
      <component :is="bootstrapOpts.tags.dropdownMenuItem"
        v-for="sortOrder in ['az', 'za']"
        :key="`sort_${sortProp}_${sortOrder}`"
        :class="[
          'criterion',
          bootstrapOpts.tags.snowflakes.annoListSortMenu.clsAll,
          'text-nowrap',
          ((sortedBy === `${sortProp}_${sortOrder}`) &&
            bootstrapOpts.tags.snowflakes.annoListSortMenu.clsChosen),
          'sort-prop-' + sortProp,
          'sort-order-' + sortOrder,
        ].filter(Boolean)"
        @click="sort(`${sortProp}_${sortOrder}`)"
        :data-sort-prop="sortProp"
        :data-sort-order="sortOrder"
        >{{ l10n(`sort_prop_${sortProp}`) }}
          <span :title="l10n(`sort_order_word_${sortOrder}`)"
            >{{ l10n(`sort_order_symbol_${sortOrder}`) }}</span>
          </component><!-- sortOrder -->
      </template><!-- sortProp -->
    </component><!-- dropdownMenu -->

  </div><!-- .anno-list-buttonbar-top.pull-right -->

  <div style="clear: both;"></div>

  <div class="panel-group annot-list">
    <slot name="annot-list-empty" v-if="!list.length" />
    <anno-viewer v-for="annotation in list" :key="annotation.id"
      :annotation="annotation"
      :purl-id="purlId"
      :as-reply="false"
      >
    </anno-viewer>
  </div>

  <div class="anno-editor-modal-wrapper">
    <anno-editor-modal ref="modalEditor"
      :editor-id="`${prefix}-modal-editor`"
      />
  </div>
</div>
