.annoeditor-list {
  .panel-group {
    margin-bottom: 0;
    & > .panel {
      margin-top: 0 !important;
    }
  }
  .sort-menu {
    & > li {
      display: block;
      text-align: left;
    }
  }

  .annoeditor-info-button {
    border-radius: 50%;
    margin-left: 5px;
    height: 16px;
    line-height: 1;
    width: 16px;
    padding-top: 1px;
  }
}
