.annoeditor-global-css .json-export-import-field {

  position: relative;

  .toolbar {
    position: absolute;
    right: 0;
    bottom: 100%;
  }

  textarea {
    width: 100%;
    height: 8em;
    resize: vertical;
    font-family: monospace;
    overflow: scroll;
    font-size: 75%;
  }

}
