<div :id="`${prefix}-${slug}`"
  :class="[
    'card',
    'panel',
    'panel-default',
    'annoeditor-viewer',
    (this.highlighted && 'annoeditor-highlight'),
    ((this.annotation.id === this.purlId
      // ^-- A legacy highlighting mechanism. See `anno-viewer.js`.
      ) && 'annoeditor-purl'),
    (this.asReply && 'annoeditor-reply'),
  ].filter(Boolean)"
  v-on:mouseover.stop="mouseenter"
  v-on:mouseleave.stop="mouseleave"
  :data-target-fragment="targetFragment"
  >

  <div v-if="!asReply" class="panel-heading">
    <h4 class="panel-title" @click="collapse('toggle')">
      <anno-viewer-thumbnail-svg
        :svgTarget="this.svgTarget"
        class="pull-right"
        />
      <a role="button">
        <span class="fa fa-caret-right" v-show="collapsed"></span>
        <span class="fa fa-caret-down" v-show="!collapsed"></span>
        <span v-show="Boolean(this.problemsWarningText)" class="
          anno-editor-error
          anno-error-annotation-problems
          danger
          ">&#x26A0; {{ this.problemsWarningText }} &#x26A0;</span>
        {{ title }}
      </a>
    </h4>
  </div>

  <div v-if="this.annotation['skos:note']" class="
    card-body panel-body
    anno-skos-note
    ">
    <p>{{ this.annotation['skos:note'] }}</p>
  </div>

  <div role="tabpanel"
    class="card-body panel-body"
    v-show="!collapsed">
    <div class="media" style="height: auto;">

      <div class="media-body">
        <div role="toolbar"
          class="btn-toolbar
            anno-editor-anno-body-buttonbar-top
          "
          >
          <div role="group"
            class="btn-group btn-group-sm">

            <button class="btn btn-sm btn-secondary
              anno-creators
              "
              @click="toggleDetailBar"
              data-detailbar="creators"
              ><span class="button-caption" ref="creatorsList">
              <template v-for="aCreator of creatorsList">
                <span class="anno-creator">
                  <template v-if="aCreator.icon">
                    <img class="media-object" style="display: inline"
                      :src="aCreator.icon" alt="Logo" width="15px" height="15px">
                  </template>
                  <template v-else>
                    <i class="fa fa-user"></i>
                  </template>
                  <span class="name">{{
                    aCreator.displayName || aCreator
                  }}</span><span class="list-sep">,</span>
                </span>
              </template>
              <template v-if="!creatorsList.length">
                <span class="no-creator">
                  <i class="fa fa-user-secret"></i>
                  {{ l10n('creator_none') }}
                </span>
              </template>
              </span><!-- .button-caption -->
            </button>
            <!-- 2021-08-20, Waterfox: Time must be its own button because
              title=… on a <time> tag inside a <button> tag had no effect. -->
            <button class="btn btn-sm btn-secondary
              anno-creation-time
              "
              :title="[
                (l10n('Created') + ': ' + dateFmt(annotation.created)),
                (l10n('Modified') + ': ' + dateFmt(annotation.modified)),
              ].join('\n')"
              @click="toggleDetailBar"
              data-detailbar="creation-date"
              ><span class="button-caption">
              <i class="fa fa-calendar"></i>
              <time class="created-at"
                :datetime="annotation.created"
                >{{
                  dateFmt(annotation.created)
                    || l10n('date_time_unknown')
                  }}</time>
              </span><!-- .button-caption -->
            </button>

            <button class="btn btn-sm btn-secondary"
              @click="toggleDetailBar"
              data-detailbar="purl"
              :title="l10n('purl')"
              >
              <i class="fa fa-link"></i>
            </button>

            <button class="btn btn-sm btn-secondary"
              @click="toggleDetailBar"
              data-detailbar="license"
              :title="l10n('License') + ': ' + licenseTitleOrUnknown"
              >
              <template v-if="currentLicense.img_64x64">
                <img class="license-icon"
                  :src="currentLicense.img_64x64"
                  :alt="licenseTitleOrUnknown"
                  >
              </template>
              <template v-else>?§?</template>
            </button>

            <button class="btn btn-sm btn-secondary"
              v-if="latestRevisionDoi || $auth('mintDoi', id)"
              @click="toggleDetailBar"
              data-detailbar="doi"
              :title="l10n('doi')"
              >
              <i class="fa fa-link"></i>
              {{ l10n('doi') }}
            </button>

            <button class="btn btn-sm btn-secondary
              frag-sel-btn
              "
              v-if="targetFragment"
              :title="this.$store.state.targetFragmentButtonTitle"
              ref="targetFragmentButton"
              @click.stop="targetFragmentButtonClicked"
              >
              <i class="fa fa-indent"></i>
              {{ targetFragment }}
            </button>

          </div><!-- .btn-group -->
        </div><!-- role="toolbar" -->

        <div ref="detailbars" class="detailbars">

          <dl class="detailbar-creators"><dt>
            {{ l10n('anno_created_by') }}:
          </dt><dd html-src-ref="creatorsList">
          </dd></dl>

          <dl class="detailbar-creation-date">
            <dt>{{ l10n('Created') }}:</dt>
            <dd>{{ dateFmt(annotation.created) || '&nbsp;' }}</dd>
            <dt>{{ l10n('Modified') }}:</dt>
            <dd>{{ dateFmt(annotation.modified) || '&nbsp;' }}</dd>
          </dl>

          <dl class="detailbar-purl">
            <dt-url-caption-link
              :caption="l10n('purl')"
              :url="purl"
              />
          </dl>

          <dl class="detailbar-license"><dt>
            {{ l10n('License') }}: {{ licenseTitleOrUnknown }}
          </dt><dd>
            {{ l10n(currentLicense.user_desc) }}
          </dd></dl>

          <dl class="detailbar-doi">
            <template v-if="latestRevisionDoi">
              <dt-url-caption-link
                :caption="l10n('doi.of.annotation')"
                :url="doi2url(latestRevisionDoi)"
                />
              <dt-url-caption-link
                :caption="l10n('doi.of.annotation.revision')"
                :url="doi2url(currentRevisionDoi)"
                />
            </template>
            <template v-else><!-- else = we have mintDoi permission,
              because with neither that nor a DOI, the detailbar would
              be hidden. -->
              <dt>
                <div role="group" class="btn-group btn-group-sm">
                  <button
                    class="btn btn-default btn-outline-secondary btn-sm"
                    @click="askConfirmationToMintDoi"
                    >
                    <i class="fa fa-link"></i>
                    {{ l10n('mint_doi') }}
                  </button>
                </div>
              </dt>
              <dd>{{ mintDoiMsg }}</dd>
            </template>
          </dl>
        </div><!-- .detailbars -->

        <div class="well old_version" v-show="isOlderVersion()">
          {{ l10n('version_from') }} {{ dateFmt(annotation.created) }}
          <br/>
          <a @click="setToVersion(newestVersion)">{{ l10n('newer_version') }}</a>
        </div>

        <h4 class="media-heading" v-if="asReply">{{ title }}</h4>

        <div v-if="firstHtmlBody"
          class="first-html-body"
          v-html="firstHtmlBody.value"></div>

        <template v-if="(relationLinkBodies || false).length > 0">
          <h5><span class="fa fa-link"></span>
            {{ l10n('relationlinks') }}</h5>
          <ul>
            <li v-for="rlb in relationLinkBodies">
              <span v-for="err in validateRelationLinkBody(rlb)" class="
                no-relation-predicate
                anno-editor-error
                anno-error-annotation-problems
                danger
              ">&#x26A0; {{err}} &#x26A0;</span>

              <span class="relation-predicate"
                ><a class="relation-predicate"
                  :href="(rlb.predicate || 'about:blank')"
                  target="_blank"
                  >{{ l10n(rlb.predicate)
                    || (/\w+/g.exec(rlb.predicate) || []).slice(-1)[0]
                  }}</a></span>
              <a :href="rlb.id || rlb.source">
                <!-- i class="fa fa-tag"></i -->
                {{
                  rlb.value
                  || rlb.label
                  || rlb.source
                  || ('\u26A0 ' + l10n('missing_required_field')
                    + ' ' + l10n('relationlink_url') + ' \u26A0')
                }}
              </a>
            </li>
          </ul>
        </template>

        <div class="annoeditor-tags simple-tags">
          <span class="annoeditor-tag label label-default badge badge-secondary" v-for="tagBody in simpleTagBodies">
            <i class="fa fa-tag"></i>
            {{ tagBody.value || tagBody.label }}
          </span>
        </div>

        <div class="annoeditor-tags semantic-tags">
          <a :href="semtagBody.id || semtagBody.source" v-for="semtagBody in semanticTagBodies">
            <span class="annoeditor-tag label label-primary">
              <i class="fa fa-tag"></i>
              {{ semtagBody.value || semtagBody.label }}
            </span>
          </a>
        </div>

        <div class="annoeditor-iiif-link"
          v-if="$store.state.iiifUrlTemplate && svgTarget"
          ><strong>{{ l10n('iiif_link') }}:</strong>
          <a class="render-iiif-link"
            role="button"
            v-show="!cachedIiifLink"
            @click="renderIiifLink"
            >{{ l10n('calculate_now') }}</a>
          <span class="cached-iiif-link" v-show="cachedIiifLink">
            <a :href="cachedIiifLink"
              target="_blank"
              class="url-caption-link"
              >{{ cachedIiifLink }}</a>
          </span>
        </div>

      </div><!-- class="media-body -->

    </div>

    <!-- navigation -->

    <div class="navigation-separator"></div>
    <div role="toolbar"
      class="btn-toolbar pull-right"
      >
      <div role="group"
        class="btn-group btn-group-sm"

        ><bootstrap-button @click="revise"
          btn-class="default btn-outline-secondary"
          icon-fa="pencil"
          v-if="$auth('revise', id)">
          {{ l10n('edit') }}
        </bootstrap-button

        ><bootstrap-button
          @click="reply"
          btn-class="default btn-outline-secondary"
          icon-fa="reply"
          v-if="$auth('create', id)">
          {{ l10n('comment') }}
        </bootstrap-button

        ><bootstrap-button
          @click="remove"
          v-if="$auth('remove', id)"
          :title="l10n('delete_anno')"
          btn-class="outline-danger"
          icon-fa="trash-o">
        </bootstrap-button

        ><anno-viewer-versions-dropdown
          :anno="annotation"
          :on-select-version="this.setToVersion.bind(this)"
          />

      </div><!-- .btn-group -->

    </div><!-- role="toolbar" -->
    <div class="toolbar-end-clear" style="clear: both;"></div>

    <template v-if="(annotation.hasReply || false).length">
      <div class="comment-separator"></div>
      <anno-viewer
        v-for="reply in annotation.hasReply"
        :key="reply.id"
        as-reply
        :purl-id="purlId"
        :annotation="reply"
        />

    </template>
  </div><!-- /role="tabpanel" -->
</div>
