<div :id="`${prefix}-${slug}`"
  :class="[
    'card',
    'panel',
    'panel-default',
    'annoeditor-viewer',
    (this.highlighted && 'annoeditor-highlight'),
    (this.isPurl && 'annoeditor-purl'),
    (this.asReply && 'annoeditor-reply'),
  ].filter(Boolean)"
  v-on:mouseover.prevent="mouseenter"
  v-on:mouseleave.prevent="mouseleave">

  <div v-if="!asReply" class="panel-heading">
    <h4 class="panel-title" @click="collapse('toggle')">
      <anno-viewer-thumbnail-svg
        :svgTarget="this.svgTarget"
        class="pull-right"
        />
      <a role="button">
        <span class="fa fa-caret-right" v-show="collapsed"></span>
        <span class="fa fa-caret-down" v-show="!collapsed"></span>
        {{ title }}
      </a>
    </h4>
  </div>

  <div class="panel-body" role="tabpanel" v-show="!collapsed">
    <div class="media" style="height: auto;">
      <div class="media-body">
        <div>
          <button class="btn btn-sm" v-for="aCreator of ensureArray('creator')">
            <template v-if="aCreator.icon">
              <img class="media-object" style="display: inline" :src="aCreator.icon" alt="Logo" width="15px" height="15px">
            </template>
            <template v-else>
              <span class="glyphicon glyphicon-user"></span>
            </template>
            <template v-if="aCreator.displayName">
              {{ aCreator.displayName }}
            </template>
            <template v-else>
              {{ aCreator }}
            </template>
          </button>
          <button
            class="annoeditor-date btn btn-sm"
            :title="`${l10n('Created')}: ${created}\n${l10n('Modified')}: ${modified}`">
            {{ dateformat(created) }}
          </button>

          <button class="btn btn-sm"
            data-toggle="popover"
            data-html="true"
            data-placement="left"
            data-focus-dismiss
            :title="l10n('purl')"
            :data-content='`
            <button data-clipboard-text="${purl}" class="btn btn-default btn-outline-secondary btn-sm">
              <span class="fa fa-clipboard"></span>
              <span class="label label-success" style="display: none">${l10n("copied_to_clipboard")}</span>
            </button>
            <a href="${purl}">${purl.replace(/\//g, "/<wbr>")}</a>
            `'>
            <span class="glyphicon glyphicon-link"></span>
          </button>

          <button class="btn btn-sm"
            v-if="rights"
            data-toggle="popover"
            data-html="false"
            data-focus-dismiss
            data-placement="left"
            :title="l10n('License')"
            :data-content='
            rights === licenseInfo.cc_zero.url ? l10n(licenseInfo.cc_zero.user_desc)
            : rights === licenseInfo.cc_by.url ? l10n(licenseInfo.cc_by.user_desc)
            : rights'>
            <template v-if="rights === licenseInfo.cc_zero.url">
              <img style="width: 14px; height: 14px;" :src="licenseInfo.cc_zero.img_64x64"/>
            </template>
            <template v-else-if="rights === licenseInfo.cc_by.url">
              <img style="width: 14px; height: 14px;" :src="licenseInfo.cc_by.img_64x64"/>
            </template>
            <template v-else>§</template>
          </button>
          <button class="btn btn-sm"
            v-if="annotation.doi"
            data-toggle="popover"
            data-html="true"
            data-placement="left"
            data-focus-dismiss
            :title="l10n('doi')"
            :data-content="doiPopup">
            <span class="glyphicon glyphicon-link"></span> DOI
          </button>

        </div>

        <div class="well old_version" v-show="isOlderVersion()">
          {{ l10n('version_from') }} {{ dateformat(created) }}
          <br/>
          <a @click="setToVersion(newestVersion)">{{ l10n('newer_version') }}</a>
        </div>

        <h4 class="media-heading" v-if="asReply">{{ title }}</h4>

        <div v-if="firstHtmlBody" v-html="firstHtmlBody.value"></div>

        <template v-if="relationLinkBodies && relationLinkBodies.length > 0">
          <h5><span class="fa fa-link">&nbsp;</span>{{ l10n('relationlinks') }}</h5>
          <ul>
            <li v-for="relationlinkBody in relationLinkBodies">
              <a :href="relationlinkBody.id || relationlinkBody.source">
                <!-- <span class="glyphicon glyphicon-tag"></span> -->
                {{ relationlinkBody.value || relationlinkBody.label }}
              </a>
            </li>
          </ul>
        </template>

        <div class="annoeditor-tags">
          <span class="annoeditor-tag label label-default badge badge-secondary" v-for="tagBody in simpleTagBodies">
            <span class="glyphicon glyphicon-tag"></span> {{ tagBody.value || tagBody.label }}
          </span>
        </div>

        <div class="annoeditor-tags">
          <a :href="semtagBody.id || semtagBody.source" v-for="semtagBody in semanticTagBodies">
            <span class="annoeditor-tag label label-primary">
              <span class="glyphicon glyphicon-tag"></span> {{ semtagBody.value || semtagBody.label }}
            </span>
          </a>
        </div>

        <div v-show="iiifLink && $store.state.enableIIIF" class="annoeditor-iiif-link">
          <button class="btn btn-sm"
            data-toggle="popover"
            data-html="true"
            data-placement="left"
            :title="l10n('iiif_link')"
            :data-content='`
            <button data-clipboard-text="${purl}" class="btn btn-default btn-outline-secondary btn-sm">
              <span class="fa fa-clipboard"></span>
              <span class="label label-success" style="display: none">${l10n("copied_to_clipboard")}</span>
            </button>
            <a href="${iiifLink}">${iiifLink.replace(/([\/,])/g, (_, x) => x + "<wbr>")}</a>
            `'>
            <span class="glyphicon glyphicon-link"></span>
            {{ l10n('iiif_link') }}
          </button>
        </div>

      </div>

    </div>

    <!-- navigation -->

    <div class="navigation-separator"
      style="clear: both; margin-bottom: 2px;"></div>
    <transition name="fade">
      <div class="alert alert-danger fade" :class="{in: mintDoiError}" v-if="mintDoiError" @click="mintDoiError = null">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{ l10n('mint_doi') }} Error:</strong> {{mintDoiError}}
      </div>
    </transition>
    <div role="toolbar"
      class="btn-toolbar pull-right"
      style="margin-top: 10px;">
      <div role="group"
        class="btn-group btn-group-sm pull-right">
        <button v-if="!annotation.doi && $auth('mintDoi', id)"
            class="btn btn-default btn-outline-secondary btn-sm"
            data-toggle="popover"
            data-focus-dismiss
            :data-content= '`
            <button data-click="mintDoi" class="btn btn-sm btn-success">Yes</button>
            <button data-click="close" class="btn btn-sm btn-default btn-outline-secondary">No</button>`'
            data-html="true"
            data-placement = "auto left"
            data-trigger = "manual"
            data-container = "body"
            @click="showMintDoiPopover"
            >
            <span class="glyphicon glyphicon-link"></span>
            {{ l10n('mint_doi') }}
        </button>
        <bootstrap-button btn-class="default" @click="revise" font-awesome="pencil" v-if="$auth('revise', id)">
          {{ l10n('edit') }}
        </bootstrap-button>
        <bootstrap-button btn-class="default" @click="reply" font-awesome="reply" v-if="$auth('create', id)">
          {{ l10n('comment') }}
        </bootstrap-button>
        <div
          v-if="numberOf('hasVersion') >= 1"
          class="
          dropdown
          btn-group-sm
          version-history-dropdown-trigger
          ">
          <a class="btn btn-default btn-outline-secondary dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-history"></span>
            {{ l10n('versions_dropdown') }} ({{ numberOf('hasVersion') }})
            <span class="caret"></span>
          </a>
          <component :is="bootstrapOpts.tags.dropdownMenu"
            role="menu" class="
              version-history-dropdown-menu
              dropdown-menu
              dropdown-menu-right
              small
              ">
            <component :is="bootstrapOpts.tags.dropdownMenuItem"
              v-for="version in annotation.hasVersion"
              :key="version.id"
              :class="{
                active: versionIsShown(version),
                'text-nowrap': true,
                small: true,
              }"
              @click="setToVersion(version)"
            >
              <span class="glyphicon glyphicon-time"></span>
              &nbsp;
              {{ dateformat(version.created) }}
              <template v-if="versionIsShown(version)"
                >&nbsp; ({{ l10n("active_version") }})</template>
            </component><!-- dropdownMenuItem -->
          </component><!-- version-history-dropdown-menu -->
        </div><!-- version-history-dropdown-trigger -->

        <bootstrap-button
          @click="remove"
          v-if="$auth('remove', id)"
          :title="l10n('delete_anno')"
          btn-class="danger"
          font-awesome="trash-o"
          />

      </div>
    </div><!-- role="toolbar" -->
    <div class="toolbar-end-clear" style="clear: both;"></div>

    <template v-if="numberOf('hasReply') > 0">
      <div class="comment-separator" style="margin-bottom: 2px;"></div>
      <anno-viewer
        v-for="reply in annotation.hasReply"
        :key="reply.id"
        as-reply
        :purl-id="purlId"
        :purl-template="purlTemplate"
        :annotation="reply"
        :image-width="imageWidth"
        :image-height="imageHeight"
        :iiif-url-template="iiifUrlTemplate"
        />

    </template>
  </div><!-- /panel-body -->
</div>
