<div :id="`${prefix}-${slug}`"
  :class="[
    'card',
    'panel',
    'panel-default',
    'annoeditor-viewer',
    (this.highlighted && 'annoeditor-highlight'),
    (this.isPurl && 'annoeditor-purl'),
    (this.asReply && 'annoeditor-reply'),
  ].filter(Boolean)"
  v-on:mouseover.stop="mouseenter"
  v-on:mouseleave.stop="mouseleave"
  :data-target-fragment="targetFragment"
  >

  <div v-if="!asReply" class="panel-heading">
    <h4 class="panel-title" @click="collapse('toggle')">
      <!-- 2021-06-10 temp. disable to reduce error log spam
      <anno-viewer-thumbnail-svg
        :svgTarget="this.svgTarget"
        class="pull-right"
        />
      -->
      <a role="button">
        <span class="fa fa-caret-right" v-show="collapsed"></span>
        <span class="fa fa-caret-down" v-show="!collapsed"></span>
        <span v-show="Boolean(this.problemsWarningText)" class="
          anno-editor-error
          anno-error-annotation-problems
          danger
          ">⚠ {{ this.problemsWarningText }} ⚠</span>
        {{ title }}
      </a>
    </h4>
  </div>

  <div role="tabpanel"
    class="card-body panel-body"
    v-show="!collapsed">
    <div class="media" style="height: auto;">

      <div class="media-body">
        <div role="toolbar"
          class="btn-toolbar
            anno-editor-anno-body-buttonbar-top
          "
          >
          <div role="group"
            class="btn-group btn-group-sm">

            <button class="btn btn-sm btn-secondary
              btn-abused-for-infotext
              anno-creators
              ">
              <template v-for="aCreator of creatorsList">
                <span class="anno-creator">
                  <template v-if="aCreator.icon">
                    <img class="media-object" style="display: inline"
                      :src="aCreator.icon" alt="Logo" width="15px" height="15px">
                  </template>
                  <template v-else>
                    <i class="fa fa-user"></i>
                  </template>
                  <span class="name">{{
                    aCreator.displayName || aCreator
                  }}</span>,
                </span>
              </template>
              <template v-if="!creatorsList.length">
                <span class="no-creator">
                  <i class="fa fa-user-secret"></i>
                  {{ l10n('creator_none') }},
                </span>
              </template>
            </button>
            <!-- 2021-08-20, Waterfox: Time must be its own button because
              title=… on a <time> tag inside a <button> tag had no effect. -->
            <button class="btn btn-sm btn-secondary
              btn-abused-for-infotext
              anno-creation-time
              "
              :title="[
                (l10n('Created') + ': ' + dateFmt(annotation.created)),
                (l10n('Modified') + ': ' + dateFmt(annotation.modified)),
              ].join('\n')"
              ><time class="created-at"
                :datetime="annotation.created"
                >{{
                  dateFmt(annotation.created)
                    || l10n('date_time_unknown')
                  }}</time>
            </button>

            <button class="btn btn-sm btn-secondary"
              @click="toggleDetailBar"
              data-detailbar="purl"
              :title="l10n('purl')"
              >
              <i class="fa fa-link"></i>
            </button>

            <button class="btn btn-sm btn-secondary"
              @click="toggleDetailBar"
              data-detailbar="license"
              :title="l10n('License') + ': ' + licenseTitleOrUnknown"
              >
              <template v-if="currentLicense.img_64x64">
                <img class="license-icon"
                  :src="currentLicense.img_64x64"
                  :alt="licenseTitleOrUnknown"
                  >
              </template>
              <template v-else>?§?</template>
            </button>

            <button class="btn btn-sm btn-secondary"
              v-if="annotation.doi"
              data-toggle="popover"
              data-html="true"
              data-placement="left"
              data-focus-dismiss
              :title="l10n('doi')"
              :data-content="doiPopup">
              <i class="fa fa-link"></i> DOI
            </button>

            <button class="btn btn-sm btn-secondary
              frag-sel-btn
              "
              v-if="targetFragment"
              :title="this.$store.state.targetFragmentButtonTitle"
              ref="targetFragmentButton"
              @click.stop="targetFragmentButtonClicked"
              >
              <i class="fa fa-indent"></i>
              {{ targetFragment }}
            </button>

          </div><!-- .btn-group -->
        </div><!-- role="toolbar" -->

        <div ref="detailbars" class="detailbars">

          <dl class="detailbar-purl"><dt>
            <clipboard-copy-button
              class="pull-right"
              :cliptext="purl" />
            {{ l10n('purl') }}:
          </dt><dd>
            <a :href="purl">{{ wbrPurl }}</a>
          </dd></dl>

          <dl class="detailbar-license"><dt>
            {{ l10n('License') }}: {{ licenseTitleOrUnknown }}
          </dt><dd>
            {{ l10n(currentLicense.user_desc) }}
          </dd></dl>

        </div><!-- .detailbars -->

        <div class="well old_version" v-show="isOlderVersion()">
          {{ l10n('version_from') }} {{ dateFmt(annotation.created) }}
          <br/>
          <a @click="setToVersion(newestVersion)">{{ l10n('newer_version') }}</a>
        </div>

        <h4 class="media-heading" v-if="asReply">{{ title }}</h4>

        <div v-if="firstHtmlBody"
          class="first-html-body"
          v-html="firstHtmlBody.value"></div>

        <template v-if="(relationLinkBodies || false).length > 0">
          <h5><span class="fa fa-link">&nbsp;</span>{{ l10n('relationlinks') }}</h5>
          <ul>
            <li v-for="rlb in relationLinkBodies">
              <a :href="rlb.id || rlb.source">
                <!-- i class="fa fa-tag"></i -->
                {{
                  rlb.value
                  || rlb.label
                  || rlb.source
                }}
              </a>
            </li>
          </ul>
        </template>

        <div class="annoeditor-tags simple-tags">
          <span class="annoeditor-tag label label-default badge badge-secondary" v-for="tagBody in simpleTagBodies">
            <i class="fa fa-tag"></i>
            {{ tagBody.value || tagBody.label }}
          </span>
        </div>

        <div class="annoeditor-tags semantic-tags">
          <a :href="semtagBody.id || semtagBody.source" v-for="semtagBody in semanticTagBodies">
            <span class="annoeditor-tag label label-primary">
              <i class="fa fa-tag"></i>
              {{ semtagBody.value || semtagBody.label }}
            </span>
          </a>
        </div>

        <div v-show="iiifLink && $store.state.enableIIIF" class="annoeditor-iiif-link">
          <button class="btn btn-sm btn-link"
            data-toggle="popover"
            data-html="true"
            data-placement="left"
            :title="l10n('iiif_link')"
            :data-content='`
            <button data-clipboard-text="${purl}" class="btn btn-default btn-outline-secondary btn-sm">
              <span class="fa fa-clipboard"></span>
              <span class="label label-success" style="display: none">${l10n("copied_to_clipboard")}</span>
            </button>
            <a href="${iiifLink}">${iiifLink.replace(/([\/,])/g, (_, x) => x + "<wbr>")}</a>
            `'>
            <i class="fa fa-link"></i>
            {{ l10n('iiif_link') }}
          </button>
        </div>

      </div><!-- class="media-body -->

    </div>

    <!-- navigation -->

    <div class="navigation-separator"></div>
    <transition name="fade">
      <div v-if="mintDoiError"
        class="alert alert-danger fade in"
        @click="mintDoiError = null">
        <button type="button" class="close btn-outline-secondary" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong class="mintdoi-error-intro">{{ l10n('error:')
          }} {{ l10n('mint_doi') }}:</strong>
        <span class="mintdoi-errmsg">{{mintDoiError}}</span>
      </div>
    </transition>
    <div role="toolbar"
      class="btn-toolbar pull-right"
      >
      <div role="group"
        class="btn-group btn-group-sm"

        ><button v-if="!annotation.doi && $auth('mintDoi', id)"
            class="btn btn-default btn-outline-secondary btn-sm"
            data-toggle="popover"
            data-focus-dismiss
            :data-content= '`
            <button data-click="mintDoi" class="btn btn-sm btn-success">Yes</button>
            <button data-click="close" class="btn btn-sm btn-default btn-outline-secondary">No</button>`'
            data-html="true"
            data-placement = "auto left"
            data-trigger = "manual"
            data-container = "body"
            @click="showMintDoiPopover"
            >
            <i class="fa fa-link"></i>
            {{ l10n('mint_doi') }}
        </button

        ><bootstrap-button @click="revise"
          btn-class="default btn-outline-secondary"
          icon-fa="pencil"
          v-if="$auth('revise', id)">
          {{ l10n('edit') }}
        </bootstrap-button

        ><bootstrap-button
          @click="reply"
          btn-class="default btn-outline-secondary"
          icon-fa="reply"
          v-if="$auth('create', id)">
          {{ l10n('comment') }}
        </bootstrap-button

        ><bootstrap-button
          @click="remove"
          v-if="$auth('remove', id)"
          :title="l10n('delete_anno')"
          btn-class="outline-danger"
          icon-fa="trash-o"
        </bootstrap-button

        ><anno-viewer-versions-dropdown
          class="ml-1"
          :anno="annotation"
          :on-select-version="this.setToVersion.bind(this)"
          />

      </div><!-- .btn-group -->

    </div><!-- role="toolbar" -->
    <div class="toolbar-end-clear" style="clear: both;"></div>

    <template v-if="(annotation.hasReply || false).length">
      <div class="comment-separator"></div>
      <anno-viewer
        v-for="reply in annotation.hasReply"
        :key="reply.id"
        as-reply
        :purl-id="purlId"
        :purl-template="purlTemplate"
        :annotation="reply"
        :image-width="imageWidth"
        :image-height="imageHeight"
        :iiif-url-template="iiifUrlTemplate"
        />

    </template>
  </div><!-- /role="tabpanel" -->
</div>
