@charset "UTF-8";
/* -*- coding: UTF-8, tab-width: 2 -*- */

#anno-app-sidebar { float: left; width: 40%; margin: 1em; margin-right: 2em; }

#tests-toolbar-bottom { margin: 1em; }
#tests-toolbar-bottom input[type="button"],
#tests-toolbar-bottom button { color: black; background-color: gainsboro; }

body > chapter aside {
  float: left; margin: 2em;
  border: 1px solid grey; padding: 1ex 1em;
}

.annoeditor-bootstrap-tabs .nav > li.debug-panel-tab { display: flex; }
