@charset "UTF-8";
/* -*- coding: UTF-8, tab-width: 2 -*- */

.sidebar-container { float: left; width: 40%; margin: 1em; margin-right: 2em; }
.popups-boundary-marker { border: 1em solid skyblue; }

#tests-toolbar-bottom input[type="button"],
#tests-toolbar-bottom button { color: black; background-color: gainsboro; }

body > chapter aside {
  float: right; margin: 2em;
  border: 1px solid grey; padding: 1ex 1em;
}

body > chapter aside > fieldset > legend:empty { display: none; }
body > chapter aside > fieldset { position: relative; }
body > chapter aside > fieldset label { margin: 0; margin-left: 1ex; }
body > chapter aside > fieldset p { margin: 0.5em 0; }
