<div class="panel panel-default annoeditor-semtags-editor">
  <div class="panel-heading">
    {{ l10n('semtags') }}
  </div>
  <div class="panel-body">
      <div class="row" v-for="(body, bodyIndex) in semanticTagBodies">
        <div class="col-md-9">
          <input 
            :data-body-index="bodyIndex"
            required
            autocomplete
            type="text"
            class="form-control semtag-value"
            v-model="body.value"
            :placeholder="l10n('semtag')"
          />
        </div>
        <div class="col-md-3">
          <bootstrap-button 
            btn-class="danger"
            font-awesome="remove"
            @click="removeBody(body)">
            {{ l10n('delete_semtag') }}
          </bootstrap-button>
        </div>
    </div>
    <bootstrap-button 
      btn-class="success"
      font-awesome="plus"
      @click="addSemanticTag"
      >{{ l10n('add_semtag') }}</bootstrap-button>
  </div>
</div>
