.anno_old_version {
  border: 1px solid #A0A0A0;
  background-color: #A0A0A0;
  display: none;
}

.annoshowrefstatus {
  display: none;
}

.annoshowrefstatus.annoshowrefstatus_0 {
  display: inline;
}

.annoitem.annostatus-active {
  border: 1px solid #A00000;
}

.annoitem.annostatus-active .panel-heading {
  background-color: #A00000;
  color: #FFFFFF;
}

.annocomment.annostatus-active > div:first-child {
  border: 1px solid #ffcc33;
  background-color: #ffeeaa;
}


#anno_annotations h4 {
  font-size: 13px;
}


.annoeditor-bootstrap-tabs {

  .nav > li.secret { display: none; }

}


.annoeditor-html-editor > .panel-body {
  overflow-y: auto; /* Workaround for overly-tall HTML editor */
}
