<bootstrap-tabs class="panel-body annoeditor-editor" ref='tablist'
  :help-url-template="l10n('help.url.template')"
  :help-url-manual="l10n('help.url.manual')"
>

  <bootstrap-tab :name="`${prefix}-${editorId}-tab-comment`" :title="l10n('comment_tab')" :active="true"
    topic='html'
    >
    <html-editor
      editor-id="${prefix}-${editorId}-html-editor"
      />
  </bootstrap-tab>

  <bootstrap-tab
    :name="`${prefix}-${editorId}-tab-zones`"
    :title="l10n('zones')"
    v-if="targetImage"
    topic='zones'
    >
    <xrx-vue
      ref='zoneEditor'
      class="panel panel-default"
      :target-thumbnail="$store.state.targetThumbnail"
      :grouped="false"

      :show-toolbar-file="false"
      @svg-changed="onSvgChanged"
      />
  </bootstrap-tab>

  <bootstrap-tab
    :name="`${prefix}-${editorId}-tab-tags`"
    :title="l10n('tags')"
    v-if="enableTabTags"
    topic="tags"
    >
    <tags-editor/>
  </bootstrap-tab>

  <bootstrap-tab
    :name="`${prefix}-${editorId}-tab-semtags`"
    :title="l10n('semtags')"
    topic="tags"
    >
    <semtags-editor/>
  </bootstrap-tab>

  <bootstrap-tab
    :name="`${prefix}-${editorId}-tab-links`"
    :title="l10n('relationlinks')"
    topic="links"
    >
    <relationlink-editor
      enable-field-url
      enable-field-label
      enable-field-relation
      />
  </bootstrap-tab>

  <bootstrap-tab
    :name="`${prefix}-${editorId}-tab-preview`"
    :title="l10n('Preview')"
    topic="preview"
    >
    <anno-viewer
      ref="preview"
      :annotation="$store.state.editing"
      :thumb-stroke-color="$store.state.thumbStrokeColor"
      :thumb-fill-color="$store.state.thumbStrokeColor"
      purl="https://purl/foo/3000"
      />
  </bootstrap-tab>

</bootstrap-tabs>
