.annoeditor-sidebar[bsvermajor="3"] {

  .version-history-dropdown-trigger {

    .dropdown-item {
      --side-padding: 1ex;
      padding-left:   var(--side-padding);
      padding-right:  var(--side-padding);
    }

  }

}
