<div class="panel panel-default">
  <div class="panel-heading">
    <bootstrap-button @click="add" @hover.native="console.log('yay')">Add</bootstrap-button>
  </div>
  <div class="panel-body">
    {{ editing }}
    <ul>
      <li v-for="(tagBody, tagBodyIndex) in tagBodies">
        <template v-if="tagBody.__editing">
          EDITING {{ tagBody.value }} / {{ tagBodyIndex }}
        </template>
        <template v-else>
          VIEWING <input v-model="tagBody.value"/> / {{ tagBodyIndex }}
        </template>
        <bootstrap-button @click="edit(tagBodyIndex)">Edit</bootstrap-button>
      </li>
    </ul>
  </div>
</div>
