<div class="card panel panel-default annoeditor-html-editor">
  <div class="panel-heading">
    <div style="display: flex">
      <input
      :placeholder="l10n('annofield_title') + (titleRequired ? ` (${l10n('required_field')})` : '')"
      v-model="title"
      class="form-control"
      type="text"
      :required="titleRequired"
      >
    </div>
  </div>
  <div class="panel-body">

    <div ref="toolbar">
      <button :title="l10n('fmt_bold')" class="ql-bold"></button>
      <button :title="l10n('fmt_italic')" class="ql-italic"></button>
      <button :title="l10n('fmt_underline')" class="ql-underline"></button>
      <button :title="l10n('fmt_blockquote')" class="ql-blockquote"></button>
      <button :title="l10n('fmt_list_bullet')" class="ql-list" value="bullet" type="button"></button>
      <button :title="l10n('fmt_list_ordered')" class="ql-list" value="ordered" type="button"></button>
      <select :title="l10n('fmt_size')" class="ql-size">
        <option value="small">{{ l10n('fmt_size_small') }}</option>
        <option selected>{{ l10n('fmt_size_normal') }}</option>
        <option value="large">{{ l10n('fmt_size_large') }}</option>
        <option value="huge">{{ l10n('fmt_size_huge') }}</option>
      </select>
      <button :title="l10n('fmt_image')" class="ql-image"></button>
      <button :title="l10n('fmt_video')" class="ql-video"></button>
      <button :title="l10n('fmt_link')" class="ql-link"></button>
      <button :title="l10n('fmt_undo')" class="ql-undo">
        <svg viewbox="0 0 18 18">
          <polygon class="ql-fill ql-stroke" points="6 10 4 12 2 10 6 10"></polygon>
          <path class="ql-stroke" d="M8.09,13.91A4.6,4.6,0,0,0,9,14,5,5,0,1,0,4,9"></path>
        </svg>
      </button>
      <button :title="l10n('fmt_redo')" class="ql-redo">
        <svg viewbox="0 0 18 18">
          <polygon class="ql-fill ql-stroke" points="12 10 14 12 16 10 12 10"></polygon>
          <path class="ql-stroke" d="M9.91,13.91A4.6,4.6,0,0,1,9,14a5,5,0,1,1,5-5"></path>
        </svg>
      </button>
    </div>
    <div ref="editor"></div>

    <div class="row">
      <div class="col-sm-1">
        <label class="license-label" for="license-select">{{ l10n('License') }}</label>
      </div>
      <div class="col-sm-11">
        <form id="license-select" class="form">
          <div class="btn-group" data-toggle="buttons">
            <label
              data-toggle="popover"
              data-trigger="hover"
              data-placement="top"
              v-for="(license, licenseName) in licenseInfo"
              :key="licenseName"
              :title="l10n(license.title)"
              :data-content="l10n(license.author_desc)"
              @click="$store.commit('SET_RIGHTS', license.url)"
              :class="{'btn': 1, 'btn-default btn-outline-secondary': 1, 'active': $store.state.editing.rights === license.url}">
              <!-- <pre>{{ licenseName }}</pre> -->
              <!-- <pre>{{ license }}</pre> -->
              <img :src="license.img_88x31"/>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
