[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.current-version {
    background: red !important;
}

.dropdown-menu a {
  cursor: pointer;
}

.highlight {
  background: green !important;
}
