<div class="anno-list">
  <div class="btn-group pull-right hidden-print" role="group">

    <template v-if="$auth('create', targetSource)">
      <bootstrap-button btnClass="default ubhdanno_new" btnSize="xs" @click="create">
        {{ l10n('new') }}
      </bootstrap-button>
    </template>
    <template v-else>
      <bootstrap-button btnSize="xs" @click="login">
        {{ l10n('login') }}
      </bootstrap-button>
    </template>

    <bootstrap-button btnClass="default" btnSize="xs" @click="collapseAll('show')" v-if="collapsed">
      {{ l10n('open_all') }}
    </bootstrap-button>
    <bootstrap-button btnClass="default" btnSize="xs" @click="collapseAll('hide')" v-else>
      {{ l10n('close_all') }}
    </bootstrap-button>

    <bootstrap-button btnClass="default dropdown-toggle" btnSize="xs" data-toggle="dropdown">
      {{l10n('sort')}} <span class="caret"></span>
    </bootstrap-button>
    <ul class="dropdown-menu small" role="menu">
      <li><a @click="sort('date')" class="small">{{ l10n('sortdate') }}
          <span v-if="sortedBy == 'date'" class="glyphicon glyphicon-ok"></span></a></li>
      <li><a @click="sort('datereverse')" class="small">{{ l10n('sortdatereverse') }}
          <span v-if="sortedBy == 'datereverse'" class="glyphicon glyphicon-ok"></span></a></li>
      <li><a @click="sort('title')" class="small">{{ l10n('sorttitle') }}
          <span v-if="sortedBy == 'title'" class="glyphicon glyphicon-ok"></span></a></li>
    </ul>

  </div>

    <div style="clear: both;">
    </div>

    <!-- <div class="hidden-print ubhdanno_showrefopt"> -->

    <!--   <div class="dropdown pull-right"> -->
    <!--     <button type="button" class="btn btn-default btn-xs dropdown-toggle" v-bind:id="'ubhdanno_dropdownMenuS'" data-toggle="dropdown" aria-expanded="false">{{l10n('showref')}}: -->
    <!--       <span class="ubhdanno_showrefstatus_0 ubhdanno_showrefstatus">{{l10n('showrefdefault')}}</span> -->
    <!--       <span class="ubhdanno_showrefstatus_1 ubhdanno_showrefstatus">{{l10n('showrefalways')}}</span> -->
    <!--       <span class="ubhdanno_showrefstatus_2 ubhdanno_showrefstatus">{{l10n('showrefnever')}}</span> -->
    <!--       <span class="caret"></span> -->
    <!--     </button> -->
    <!--     <ul class="dropdown-menu small" role="menu" v-bind:aria-labelledby="'ubhdanno_dropdownMenuS'"> -->
    <!--       <li> -->
    <!--         <a class="small" data-anno-showref="0">{{l10n('showrefdefault')}}&nbsp; -->
    <!--           <span class="glyphicon glyphicon-ok ubhdanno_showrefstatus_0 ubhdanno_showrefstatus" aria-hidden="true"></span> -->
    <!--         </a> -->
    <!--       </li> -->
    <!--       <li> -->
    <!--         <a class="small" data-anno-showref="1">{{l10n('showrefalways')}}&nbsp; -->
    <!--           <span class="glyphicon glyphicon-ok ubhdanno_showrefstatus_1 ubhdanno_showrefstatus" aria-hidden="true"></span> -->
    <!--         </a> -->
    <!--       </li> -->
    <!--       <li> -->
    <!--         <a class="small" data-anno-showref="2">{{l10n('showrefnever')}}&nbsp; -->
    <!--           <span class="glyphicon glyphicon-ok ubhdanno_showrefstatus_2 ubhdanno_showrefstatus" aria-hidden="true"></span> -->
    <!--         </a> -->
    <!--       </li> -->
    <!--     </ul> -->
    <!--   </div> -->

    <!--   <div style="clear: both;"></div> -->
    <!-- </div> -->

    <div class="panel-group">
      <anno-viewer v-for="annotation in list" v-if="! annotation.__deleted"
        :annotation="annotation"
        :asReply=false
        >
      </anno-viewer>
    </div>

    <anno-editor-modal ref='modal-editor' :editor-id="`${prefix}-modal-editor`" />
</div>
