<bootstrap-tabs class="panel-body" ref='tablist'>

  <bootstrap-tab name="annoeditor_tab_html" :title="l10n('metadata')" :active="true">
    <html-editor/>
  </bootstrap-tab>

  <bootstrap-tab name="annoeditor_tab_zones" :title="l10n('zones')" v-if="targetImage">
    <zone-editor
      ref='zone-editor'
      :canvasWidth="$store.state.canvasWidth"
      :canvasHeight="$store.state.canvasHeight"
      :thumbWidth="$store.state.thumbWidth"
      :thumbHeight="$store.state.thumbHeight"
      :targetImage="$store.state.targetImage"
      :targetThumbnail="$store.state.targetThumbnail"
      />
  </bootstrap-tab>

  <bootstrap-tab name="annoeditor_tab_tags" :title="l10n('tags')">
    <tags-editor/>
  </bootstrap-tab>

  <bootstrap-tab name="annoeditor_tab_semtags" :title="l10n('semtags')">
    <semtags-editor/>
  </bootstrap-tab>

  <bootstrap-tab name="annoeditor_tab_preview" :title="l10n('Preview')">
    <anno-viewer
      :annotation="$store.state.annotation"
      purl="https://purl/foo/3000"
      />
  </bootstrap-tab>

</bootstrap-tabs>
