<div :id="`${prefix}-${slug}`"
  :class="`panel panel-default annoeditor-viewer
     ${highlighted ? 'annoeditor-highlight' : ''}
     ${isPurl ? 'annoeditor-purl' : ''}
     ${asReply ? 'annoeditor-reply' : ''}
     `"
  v-on:mouseover.prevent="mouseenter"
  v-on:mouseleave.prevent="mouseleave">

  <div v-if="!asReply"
    class="panel-heading"
    @click="collapse('toggle')"
    >
        <div v-if="svgTarget" class="annoeditor-thumbnail-wrapper">
          <xrx-vue
            ref="thumbnail"
            class="annoeditor-thumbnail"
            initial-mode="Disabled"
            :show-toolbar="false"
            :enable-thumb="false"
            :initial-image="svgTarget.source"
            :grouped="true"
            :initial-svg="svgTarget.selector.value"
            :width="36"
            :height="36"
            />
        </div>
    <h4 class="panel-title">
      <a role="button">
        <span class="fa fa-caret-right" v-show="collapsed"></span>
        <span class="fa fa-caret-down" v-show="!collapsed"></span>
        {{ title }}
      </a>
    </h4>
  </div>
  <!-- <div v-else -->
  <!--   class="panel-heading" -->
  <!--   aria-expanded="true" -->
  <!--   @click="collapse('toggle')" -->
  <!--   > -->
  <!--   [> <span class="small">{{ title }}</span> <] -->
  <!--   [> <h5 class="panel-title"> {{ title }} </h5> <] -->
  <!-- </div> -->

  <div class="panel-body" role="tabpanel" v-show="!collapsed">

    <div class="media" style="height: auto;">

      <div class="media-body">

        <div v-if="creator">
          <button class="btn btn-xs">
            <template v-if="creator && creator.icon">
              <img class="media-object" style="display: inline" :src="creator.icon" alt="Logo" width="15px" height="15px">
            </template>
            <template v-else>
              <span class="glyphicon glyphicon-user"></span>
            </template>
            <template v-if="creator && creator.displayName">
              {{ creator.displayName }}
            </template>
            <template v-else>
              {{ creator }}
            </template>
          </button>
          <button
            class="annoeditor-date btn btn-xs"
            :title="`${l10n('Created')}: ${created}\n${l10n('Modified')}: ${modified}`">
            {{ dateformat(created) }}
          </button>

          <button class="btn btn-xs"
            data-toggle="popover"
            data-html="true"
            data-placement="left"
            data-focus-dismiss
            :title="l10n('purl')"
            :data-content='`
            <button data-clipboard-text="${purl}" class="btn btn-default btn-xs">
              <span class="fa fa-clipboard"></span>
              <span class="label label-success" style="display: none">${l10n("copied_to_clipboard")}</span>
            </button>
            <a href="${purl}">${purl.replace(/\//g, "/<wbr>")}</a>
            `'>
            <span class="glyphicon glyphicon-link"></span>
          </button>

          <button class="btn btn-xs"
            v-if="rights"
            data-toggle="popover"
            data-html="false"
            data-focus-dismiss
            data-placement="left"
            :title="l10n('License')"
            :data-content='
            rights === licenseInfo.cc_zero.url ? l10n(licenseInfo.cc_zero.user_desc)
            : rights === licenseInfo.cc_by.url ? l10n(licenseInfo.cc_by.user_desc)
            : rights'>
            <template v-if="rights === licenseInfo.cc_zero.url">
              <img height="14" :src="licenseInfo.cc_zero.img_64x64"/>
            </template>
            <template v-else-if="rights === licenseInfo.cc_by.url">
              <img height="14" :src="licenseInfo.cc_by.img_64x64"/>
            </template>
            <template v-else>§</template>
          </button>

        </div>

        <div class="well old_version" v-show="isOlderVersion()">{{ l10n('version_from') }} {{ dateformat(created) }} </div>

        <h4 class="media-heading" v-if="asReply">{{ title }}</h4>

        <div v-if="firstHtmlBody" v-html="firstHtmlBody.value"></div>

        <template v-if="relationLinkBodies && relationLinkBodies.length > 0">
          <h5><span class="fa fa-link">&nbsp;</span>{{ l10n('relationlinks') }}</h5>
          <ul>
            <li v-for="relationlinkBody in relationLinkBodies">
              <a :href="relationlinkBody.id || relationlinkBody.source">
                <!-- <span class="glyphicon glyphicon-tag"></span> -->
                {{ relationlinkBody.value || relationlinkBody.label }}
              </a>
            </li>
          </ul>
        </template>

        <div class="annoeditor-tags">
          <span class="label label-default" v-for="tagBody in simpleTagBodies">
            <span class="glyphicon glyphicon-tag"></span> {{ tagBody.value || tagBody.label }}
          </span>
        </div>

        <div class="annoeditor-tags">
          <a :href="semtagBody.id || semtagBody.source" v-for="semtagBody in semanticTagBodies">
            <span class="label label-primary">
              <span class="glyphicon glyphicon-tag"></span> {{ semtagBody.value || semtagBody.label }}
            </span>
          </a>
        </div>

        <div class="annoeditor-iiif-canvas" style="display:none"></div>
        <div v-show="iiifLink && $store.state.enableIIIF" class="annoeditor-iiif-link">
          <button class="btn btn-xs"
            data-toggle="popover"
            data-html="true"
            data-placement="left"
            :title="l10n('iiif_link')"
            :data-content='`
            <button data-clipboard-text="${purl}" class="btn btn-default btn-xs">
              <span class="fa fa-clipboard"></span>
              <span class="label label-success" style="display: none">${l10n("copied_to_clipboard")}</span>
            </button>
            <a href="${iiifLink}">${iiifLink.replace(/([\/,])/g, (_, x) => x + "<wbr>")}</a>
            `'>
            <span class="glyphicon glyphicon-link"></span>
            {{ l10n('iiif_link') }}
          </button>
        </div>

      </div>

    </div>

    <!-- navigation -->

    <div style="clear: both; margin-bottom: 2px;"></div>
    <div class="btn-toolbar pull-right" role="toolbar" style="margin-top: 10px;">

      <div class="btn-group btn-group-xs pull-right" role="group">
        <bootstrap-button btn-class="default" @click="revise" font-awesome="pencil" v-if="$auth('revise', id)">
          {{ l10n('edit') }}
        </bootstrap-button>
        <bootstrap-button btn-class="default" @click="reply" font-awesome="reply" v-if="$auth('create', id)">
          {{ l10n('comment') }}
        </bootstrap-button>
        <bootstrap-button btn-class="danger" @click="remove" font-awesome="trash-o" v-if="$auth('remove', id)"
         :title="l10n('delete_anno')"/>

        <br>
        <div v-if="numberOf('hasVersion') > 1" class="dropdown btn-group-xs annoeditor-versions">
          <a class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-history"></span>
            {{ l10n('previous_version') }}
            <span class="caret"></span>
          </a>
          <ul role="menu" class="dropdown-menu dropdown-menu-right annoeditor-versions">
            <li v-for="version in annotation.hasVersion"
              :key="version.id"
              :class="{'active': versionIsShown(version)}"
              >
              <a class="small" @click="setToVersion(version)">
                <span class="glyphicon glyphicon-time"></span>
                &nbsp;
                {{ dateformat(version.created) }}
                &nbsp;
                <template v-if="versionIsShown(version)">({{ l10n("active_version") }})</template>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div style="clear: both; margin-bottom: 2px;"></div>

    <template v-if="numberOf('hasReply') > 0">

      <anno-viewer
        v-for="reply in annotation.hasReply"
        as-reply
        :purl-id="purlId"
        :purl-template="purlTemplate"
        :annotation="reply"
        :image-width="imageWidth"
        :image-height="imageHeight"
        :iiif-url-template="iiifUrlTemplate"
        />

      </template>
    </div>
</div>
