<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{ l10n.annoeditor }}</h2>
    <a v-if="id" :href="id">{{ id }}</a>
    <a v-else>{{ l10n.unsaved }}</a>
    <bootstrap-button @click="save">{{ l10n.save }}</bootstrap-button>
  </div>

  <bootstrap-tabs class="panel-body">

    <bootstrap-tab name="annoeditor_tab_html" :title="l10n.metadata">
      <html-editor
        :l10n="l10n"
        />
    </bootstrap-tab>

    <bootstrap-tab name="annoeditor_tab_zones" :title="l10n.zones" v-if="targetImage">
      <zone-editor
        :l10n="l10n"
        :targetImage="targetImage"
        :targetThumbnail="targetThumbnail"
        />
    </bootstrap-tab>

    <bootstrap-tab name="annoeditor_tab_tags" :title="l10n.tags">
      <tags-editor
        :l10n="l10n"
        />
    </bootstrap-tab>

    <bootstrap-tab name="annoeditor_tab_semtags" :title="l10n.semtags" active="true">
      <semtags-editor
        :l10n="l10n"
        />
    </bootstrap-tab>

    <bootstrap-tab name="annoeditor_tab_json" title="Debug">
      <pre style="white-space: pre-wrap">{{ stateDump }}</pre>
    </bootstrap-tab>

  </bootstrap-tabs>
</div>
