.annoeditor-list {
  .panel-group {
    margin-bottom: 0;
    & > .panel {
      margin-top: 0 !important;
    }
  }
  .sort-menu {
    & > li {
      display: block;
      text-align: left;
    }
  }
}
