.anno-viewer {

    .panel-heading {
        padding: 2px 0;

        .panel-title {
            font-size: 1em;
        }
    }

    .current-version {
        background: red;
    }

    .dropdown-menu a {
        cursor: pointer;
    }

    .highlight {
        background: green;
    }
}
