<div class="annoeditor-list">
  <div class="btn-group btn-group-vertical pull-left hidden-print" role="group">

    <a class="btn btn-xs btn-warning" @click.stop="logout" v-if="isLoggedIn && enableLogoutButton">
      {{ l10n('logout') }}
    </a>

    <a class="btn btn-xs btn-default" :href="loginEndpoint" v-if="!isLoggedIn && loginEndpoint">
      {{ l10n('login') }}
    </a>

    <bootstrap-button btn-class="success" btn-size="xs"
      @click="create"
      v-show="$auth('create', targetSource)">
      {{ l10n('new') }}
    </bootstrap-button>
  </div>

  <div class="btn-group btn-group-vertical pull-right hidden-print" role="group">

    <bootstrap-button btn-class="default" btn-size="xs" font-awesome="plus" @click="collapseAll('show')"
      v-show="collapsed && numberOfAnnotations > 0">
      {{ l10n('open_all') }}
    </bootstrap-button>
    <bootstrap-button btn-class="default" btn-size="xs" font-awesome="minus" @click="collapseAll('hide')"
      v-show="!collapsed && numberOfAnnotations > 0">
      {{ l10n('close_all') }}
    </bootstrap-button>

    <bootstrap-button btn-class="default dropdown-toggle" font-awesome="sort" btn-size="xs" data-toggle="dropdown"
      v-show="numberOfAnnotations > 0">
      {{l10n('sort')}} <span class="caret"></span>
    </bootstrap-button>

    <ul class="dropdown-menu dropdown-menu-small small" role="menu">

      <li><a @click="sort('created_az')" class="small">{{ l10n('sort_created_az') }}
          <span v-if="sortedBy == 'created_az'" class="glyphicon glyphicon-ok"></span></a></li>
      <li><a @click="sort('created_za')" class="small">{{ l10n('sort_created_za') }}
          <span v-if="sortedBy == 'created_za'" class="glyphicon glyphicon-ok"></span></a></li>

      <li><a @click="sort('modified_az')" class="small">{{ l10n('sort_modified_az') }}
          <span v-if="sortedBy == 'modified_az'" class="glyphicon glyphicon-ok"></span></a></li>
      <li><a @click="sort('modified_za')" class="small">{{ l10n('sort_modified_za') }}
          <span v-if="sortedBy == 'modified_za'" class="glyphicon glyphicon-ok"></span></a></li>

      <li><a @click="sort('title_az')" class="small">{{ l10n('sort_title_az') }}
          <span v-if="sortedBy == 'title_az'" class="glyphicon glyphicon-ok"></span></a></li>
      <li><a @click="sort('title_za')" class="small">{{ l10n('sort_title_za') }}
          <span v-if="sortedBy == 'title_za'" class="glyphicon glyphicon-ok"></span></a></li>

      <li><a @click="sort('creator_az')" class="small">{{ l10n('sort_creator_az') }}
          <span v-if="sortedBy == 'creator_az'" class="glyphicon glyphicon-ok"></span></a></li>
      <li><a @click="sort('creator_za')" class="small">{{ l10n('sort_creator_za') }}
          <span v-if="sortedBy == 'creator_za'" class="glyphicon glyphicon-ok"></span></a></li>

    </ul>

  </div>

    <div style="clear: both;">
    </div>

    <div v-if="!isLoggedIn" style="text-align: center; margin-top: 10px; font-size: 95%;">
          <!-- class="btn btn-lg btn-primary"  -->
          <!-- role="button"  -->
      <a  tabindex="0"
          rel="popover" 
          data-html="true"
          data-toggle="popover"
          data-trigger="focus"
          data-placement="left" 
          :title="l10n('msg_join_short')" 
          :data-content="l10n('msg_join_long')"
          >
          {{ l10n('msg_join_short') }}
      </a>
    </div>

    <div class="panel-group">
      <anno-viewer v-for="annotation in list" :key="annotation.id"
        :annotation="annotation"
        :purl-template="purlTemplate"
        :purl-id="purlId"
        :as-reply=false
        >
      </anno-viewer>
    </div>

    <anno-editor-modal ref='modal-editor' :editor-id="`${prefix}-modal-editor`" />
</div>
