<bootstrap-tabs class="panel-body" ref='tablist'>

  <bootstrap-tab :name="`${prefix}-${editorId}-tab-metadata`" :title="l10n('metadata')" :active="true">
    <html-editor editor-id="${prefix}-${editorId}-html-editor" />
  </bootstrap-tab>

  <bootstrap-tab :name="`${prefix}-${editorId}-tab-zones`" :title="l10n('zones')" v-if="targetImage">
    <xrx-vue
      ref='zone-editor'
      :width="$store.state.canvasWidth"
      :height="$store.state.canvasHeight"
      :thumb-width="$store.state.thumbWidth"
      :thumb-height="$store.state.thumbHeight"
      :initialImage="$store.state.targetImage"
      :target-thumbnail="$store.state.targetThumbnail"
      />
  </bootstrap-tab>

  <bootstrap-tab :name="`${prefix}-${editorId}-tab-tags`" :title="l10n('tags')">
    <tags-editor/>
  </bootstrap-tab>

  <bootstrap-tab :name="`${prefix}-${editorId}-tab-semtags`" :title="l10n('semtags')">
    <semtags-editor/>
  </bootstrap-tab>

  <bootstrap-tab :name="`${prefix}-${editorId}-tab-preview`" :title="l10n('Preview')">
    <anno-viewer
      :annotation="$store.state.annotation"
      purl="https://purl/foo/3000"
      />
  </bootstrap-tab>

</bootstrap-tabs>
