.annoeditor-viewer {

    &.annoeditor-purl {
        & > .panel-heading,
        &.annoeditor-reply > .panel-body > .media > div > div:nth-child(1) {
            background-color: #365187;
            color: white;
        }
    }

    &.annoeditor-highlight {
        & > .panel-heading {
            background: #990000 !important;
            color: white;
        }
        &.annoeditor-reply {
            border: 1px solid #fc3;
            background-color: #fea;
        }
    }

    .annoeditor-tags {
      margin-top: 5px;
    }

    .dropdown-menu a {
        cursor: pointer;
    }

    .panel-heading {
        padding: 2px 0;

        .panel-title {
            font-size: 1em;
        }

        .annoeditor-thumbnail-wrapper {
          display: static;
          right: 0;
          top: 0;
          height: 36px;
          width: 36px;
          float: right;
          border: none !important;
          padding: 0;
          background: white;

          .annoeditor-thumbnail {
          }
        }
    }

    .panel-body {
        padding: 0 5px;
        .well.old_version {
            background-color: #ddf;
        }
    }
}
