<div class="annoeditor-list">
  <div class="btn-group btn-group-vertical pull-left hidden-print" role="group">

    <a class="btn btn-xs btn-warning" @click.stop="logout" v-if="isLoggedIn && enableLogoutButton">
      {{ l10n('logout') }}
    </a>

    <a class="btn btn-xs" :href="loginEndpoint" v-if="!isLoggedIn && loginEndpoint">
      {{ l10n('login') }}
    </a>

    <bootstrap-button btn-class="success" btn-size="xs"
      @click="create"
      v-show="$auth('create', targetSource)">
      {{ l10n('new') }}
    </bootstrap-button>
  </div>

  <div class="btn-group btn-group-vertical pull-right hidden-print" role="group">

    <bootstrap-button btn-class="default" btn-size="xs" font-awesome="plus" @click="collapseAll('show')"
      v-show="collapsed && numberOfAnnotations > 0">
      {{ l10n('open_all') }}
    </bootstrap-button>
    <bootstrap-button btn-class="default" btn-size="xs" font-awesome="minus" @click="collapseAll('hide')"
      v-show="!collapsed && numberOfAnnotations > 0">
      {{ l10n('close_all') }}
    </bootstrap-button>

    <bootstrap-button btn-class="default dropdown-toggle" font-awesome="sort" btn-size="xs" data-toggle="dropdown"
      v-show="numberOfAnnotations > 0">
      {{l10n('sort')}} <span class="caret"></span>
    </bootstrap-button>

    <ul class="dropdown-menu dropdown-menu-small small" role="menu">
      <li><a @click="sort('date')" class="small">{{ l10n('sortdate') }}
          <span v-if="sortedBy == 'date'" class="glyphicon glyphicon-ok"></span></a></li>
      <li><a @click="sort('datereverse')" class="small">{{ l10n('sortdatereverse') }}
          <span v-if="sortedBy == 'datereverse'" class="glyphicon glyphicon-ok"></span></a></li>
      <li><a @click="sort('title')" class="small">{{ l10n('sorttitle') }}
          <span v-if="sortedBy == 'title'" class="glyphicon glyphicon-ok"></span></a></li>
    </ul>

  </div>

    <div style="clear: both;">
    </div>

    <div v-if="!isLoggedIn" style="text-align: center; margin-top: 10px; font-size: 95%;">
          <!-- class="btn btn-lg btn-primary"  -->
          <!-- role="button"  -->
      <a  tabindex="0"
          rel="popover" 
          data-html="true"
          data-toggle="popover"
          data-trigger="focus"
          data-placement="left" 
          :title="l10n('msg_join_short')" 
          :data-content="l10n('msg_join_long')"
          >
          {{ l10n('msg_join_short') }}
      </a>
    </div>

    <div class="panel-group">
      <anno-viewer v-for="annotation in list" :key="annotation.id"
        :annotation="annotation"
        :purl-template="purlTemplate"
        :is-purl="purlId == annotation.id"
        :as-reply=false
        >
      </anno-viewer>
    </div>

    <anno-editor-modal ref='modal-editor' :editor-id="`${prefix}-modal-editor`" />
</div>
