.annoeditor-viewer {

    &.annoeditor-purl {
        background: yellow !important;
    }

    &.annoeditor-highlight > .panel-heading {
        background: #990000 !important;
        color: white;
    }

    .annoeditor-current-version {
        background: red;
    }

    .dropdown-menu a {
        cursor: pointer;
    }

    .panel-heading {
        padding: 2px 0;

        .panel-title {
            font-size: 1em;
        }
    }

    .panel-body {
        padding: 0 5px;
    }
}
