<div class="panel panel-default">
  <div class="panel-heading">
    <input id="ubhdannoprefix_field_title" :placeholder="l10n.annofield_title" v-model="title"
      class="form-control" type="text" required="true">
  </div>
  <div class="panel-body">
<form class="form" action="" method="get">

    <div class="form-group">
        <tinymce id="ubhdannoprefix_field_text" v-model="value" :options="tinymceOptions" />
    </div>

    <select v-model="rights">
      <option :name="l10n.license">{{l10n.license}}</option>
    </select>

</form>
