<div class="panel panel-default">
  <div class="panel-heading">
    {{ l10n('tags') }}
    <bootstrap-button @click="addSimpleTag">{{ l10n('add_tag') }}</bootstrap-button>
  </div>
  <div class="panel-body">
    <div class="row" v-for="body in simpleTagBodies">
      <div class="col-md-3">
        <input class="form-control" v-model="body.value"/>
      </div>
      <div class="col-md-3">
        <select class="form-control" v-model="body.motivation">
          <option>tagging</option>
        </select>
      </div>
      <div class="col-md-3">
        <bootstrap-button btnSize="xs" btnClass="danger" @click="removeBody(body)">
          {{ l10n('delete_tag') }}
        </bootstrap-button>
      </div>
    </div>
  </div>
</div>
