<div class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg draggable" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" aria-label="Close" @click="discard"><span aria-hidden="true">&times;</span></button>

        <!-- <h4>{{ l10n('annoeditor') }}</h4> -->
        <h4 v-if="editMode === 'create'">
          {{ l10n(`annoeditor_mode_create`) }}
        </h4>
        <h4 v-if="editMode === 'revise'">
          {{ l10n(`annoeditor_mode_revise`) }}
          <a
            @mouseenter="startHighlighting(id)"
            @mouseleave="stopHighlighting(id)"
            >{{ purl(id) }}</a>
        </h4>
        <h4 v-if="editMode === 'reply'">
          {{ l10n(`annoeditor_mode_reply`) }}
          <a
            @mouseenter="startHighlighting(replyTo)"
            @mouseleave="stopHighlighting(replyTo)"
            >{{ purl(replyTo) }}</a>
        </h4>

        <div class="pull-right">
          <bootstrap-button btn-class="primary" @click="save">
            {{ l10n('save') }}
          </bootstrap-button>
        </div>

        <div style="clear: both;"></div>

      </div>
      <div class="modal-body">

        <anno-editor ref='editor'/>

      </div>
      <div class="modal-footer">

        <div class="pull-left">
          <bootstrap-button btn-class="danger" @click="remove" v-if="$auth('remove', id) && editMode === 'revise'">
            {{ l10n('delete_anno') }}
          </bootstrap-button>
          <template v-if="!doi && $auth('mintDoi', id) && editMode === 'revise'">
            <button class="btn btn-primary btn-sm" @click="mintDoi">
              {{ l10n('mint_doi') }}
            </button>
            <help-button topic="doi" :title="l10n('mint_doi')" :helpUrlTemplate="l10n('help.url.template')" />
          </template>
        </div>

        <bootstrap-button data-dismiss="modal" @click="discard">
          {{ l10n('discard') }}
        </bootstrap-button>

        <bootstrap-button btn-class="primary" @click="save">
          {{ l10n('save') }}
        </bootstrap-button>

      </div>
    </div>
  </div>
</div>
