<div class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg draggable" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close"
          v-if="bootstrapOpts.version.major < 4"
          data-dismiss="modal"
          aria-label="Close"
          @click="discard"
          ><span aria-hidden="true">&times;</span>
        </button>

        <!-- <h4>{{ l10n('annoeditor') }}</h4> -->
        <component :is="bootstrapOpts.tags.modalHeaderTitle"
          class="modal-title"
          v-if="editMode === 'create'">
          {{ l10n(`annoeditor_mode_create`) }}
        </component>
        <component :is="bootstrapOpts.tags.modalHeaderTitle"
          class="modal-title"
          v-if="editMode === 'revise'">
          {{ l10n(`annoeditor_mode_revise`) }}
          <a
            @mouseenter="startHighlighting(id)"
            @mouseleave="stopHighlighting(id)"
            >{{ purl(id) }}</a>
        </component>
        <component :is="bootstrapOpts.tags.modalHeaderTitle"
          class="modal-title"
          v-if="editMode === 'reply'">
          {{ l10n(`annoeditor_mode_reply`) }}
          <a
            @mouseenter="startHighlighting(replyTo)"
            @mouseleave="stopHighlighting(replyTo)"
            >{{ purl(replyTo) }}</a>
        </component>

        <div class="pull-right">
          <bootstrap-button btn-class="primary" @click="save"
            icon-fa="save">
            {{ l10n('save') }}
          </bootstrap-button>
        </div>

        <button type="button" class="close"
          v-if="bootstrapOpts.version.major >= 4"
          data-dismiss="modal"
          aria-label="Close"
          @click="discard"
          ><span aria-hidden="true">&times;</span>
        </button>

        <div style="clear: both;"></div>

      </div>
      <div class="modal-body">

        <anno-editor ref='editor'/>

      </div>
      <div class="modal-footer">

        <div class="pull-left">
          <bootstrap-button btn-class="danger" @click="remove"
            icon-fa="trash-o"
            v-if="$auth('remove', id) && editMode === 'revise'">
            {{ l10n('delete_anno') }}
          </bootstrap-button>
        </div>

        <bootstrap-button data-dismiss="modal" @click="discard"
          icon-fa="close">
          {{ l10n('discard') }}
        </bootstrap-button>

        <bootstrap-button btn-class="primary" @click="save"
          icon-fa="save">
          {{ l10n('save') }}
        </bootstrap-button>

      </div>
    </div>
  </div>
</div>
