<div class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg draggable" role="document">
    <div id="anno-editor-modal-content" class="modal-content">
      <div class="modal-header">

        <div class="top-right-buttons pull-right"
          v-if="bootstrapOpts.version.major < 4">
          <bootstrap-button @click="save"
            btn-class="primary"
            icon-fa="save">
            {{ l10n('save') }}
          </bootstrap-button>
          <bootstrap-button @click="discard"
            btn-class="close"
            data-dismiss="modal"
            aria-label="Close"
            icon-fa="close"
            />
        </div>

        <!-- <h4>{{ l10n('annoeditor') }}</h4> -->
        <component :is="bootstrapOpts.tags.modalHeaderTitle"
          class="modal-title"
          v-if="editMode === 'create'">
          {{ l10n(`annoeditor_mode_create`) }}
        </component>
        <component :is="bootstrapOpts.tags.modalHeaderTitle"
          class="modal-title"
          v-if="editMode === 'revise'">
          {{ l10n(`annoeditor_mode_revise`) }}
          <a
            @mouseenter="startHighlighting(id)"
            @mouseleave="stopHighlighting(id)"
            >{{ purl(id) }}</a>
        </component>
        <component :is="bootstrapOpts.tags.modalHeaderTitle"
          class="modal-title"
          v-if="editMode === 'reply'">
          {{ l10n(`annoeditor_mode_reply`) }}
          <a
            @mouseenter="startHighlighting(replyTo)"
            @mouseleave="stopHighlighting(replyTo)"
            >{{ purl(replyTo) }}</a>
        </component>

        <div class="top-right-buttons ml-auto text-nowrap"
          v-if="bootstrapOpts.version.major >= 4">
          <bootstrap-button @click="save"
            btn-class="primary"
            icon-fa="save">
            {{ l10n('save') }}
          </bootstrap-button>
          <bootstrap-button @click="discard"
            btn-class="close"
            data-dismiss="modal"
            aria-label="Close"
            icon-fa="close"
            />
        </div>

        <div style="clear: both;"></div>

      </div><!-- .modal-header -->

      <div class="modal-body">
        <anno-editor ref='editor'/>
      </div>

      <div class="modal-footer">

        <div class="pull-left">
          <bootstrap-button @click="remove"
            btn-class="outline-danger"
            icon-fa="trash-o"
            v-if="$auth('remove', id) && editMode === 'revise'">
            {{ l10n('delete_anno') }}
          </bootstrap-button>
        </div>

        <bootstrap-button @click="discard"
          btn-class="close"
          data-dismiss="modal"
          btn-class="outline-secondary"
          aria-label="Close"
          icon-fa="close">
          {{ l10n('discard') }}
        </bootstrap-button>

        <bootstrap-button btn-class="primary" @click="save"
          icon-fa="save">
          {{ l10n('save') }}
        </bootstrap-button>

      </div><!-- .modal-footer -->

    </div>
  </div>
</div>
