#anno-editor-modal-content .debug-panel {

  .topic {
    margin: 1em 0;
  }

  dt {
    display: inline-block;
    float: left;
    margin-right: 0.5em;
  }

  dd {
    font-family: monospace;
    white-space: pre;
    margin-left: 2em;
  }

}
